/* style.css */

/* Basic HTML elements */

body{
  background: rgb(245,245,245);
  color: black;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Helvetica;
  color: black;
  font-weight: lighter;
  font-size: 20px;
}
h2 {
  font-family: Helvetica;
  color: black;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: black;
  display: inline;
}
a:hover {
  text-decoration: none;
  color: purple;
}

li{
  display: inline;
  margin-right: 25px;
}

/* ID */

#banner{
  text-align: center;
  background-image: url("https://unsplash.it/1300/600?random");
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}
#banner h1 {
  color: white;
  font-size: 50px;
}
#banner p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}


#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}

/* Classes */

.CTA {
font: 3em;
}

.social_links {
	list-style: none;
}

.footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
.card{
  padding: 50px;
  font-weight: lighter;
}

/* Silvia's CSS */

* {
  box-sizing: border-box;
}

/*

.menu {
  float: left;
  text-indent: 15%;
  width: 15%;
}
.menuitem {
  padding: 8px;
  margin-top: 7px;
  border-bottom: 1px solid #f1f1f1;
}
.main {
  float: left;
  width: 65%;
  padding: 0 20px;
  overflow: hidden;
}
.right {
  background-color: rgb(242, 230, 255);
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
}

  /* For tablets: */

@media only screen and (max-width:800px) {
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}

/*
body{
  background: rgb(245,245,245);
  color: green;
  font-size: 25px;
  font-family: Helvetica;
}
h1{
  font-family: Courier;
  color: red;
  font-weight: lighter;
  font-size: 50px;
}
h2 {
  font-family: Courier;
  color: pink;
  font-weight: lighter;
  font-size: 18px;
}
a {
  color: yellow;
}
a:hover {
  text-decoration: none;
  color: purple;
}

#logo{
  text-align: left;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
  text-shadow: 1px 1px 5px black;
}
#logo h1 {
  color: white;
  font-size: 50px;
}
#logo p {
  color: white;
  opacity: 0.8;
  font-size: 30px;
  font-weight: lighter;
}

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a {
  color: lightgrey;
  font-size: 15px;
}
#footer a:hover {
  color: white;
}





